# Part B: Athena Queries

Create a database in athena using the partitioned data in S3 of the Quien es Quien en los Precios data from 2018 to 2024. 

@roman

21 apr 2024

---
# Settings

In [1]:
import os
import boto3
from pyathena import connect
import awswrangler as wr
import pandas as pd
import yaml
from datetime import datetime
from tqdm import tqdm
import awswrangler as wr

In [2]:
# get config file
with open("../../config.yaml", "r") as file:
    config = yaml.safe_load(file)

In [3]:
# AWS Settings
session = boto3.Session(profile_name=config["aws"]["profile"])
s3 = session.client("s3")

# set region east-1 to boto3
os.environ["AWS_DEFAULT_REGION"] = "us-east-1"

# Bucket
BUCKET_NAME = config["s3"]["bucket"]

# Sub Bucket
FOLDER_NAME = config["s3"]["folder"]

# Bucket Query
FILE = config["s3"]["file"]

# Database Name
DATABASE_NAME = config["athena"]["db_name"]

# Table Name
TABLE_NAME = config["athena"]["table_name"]

# Bucket Query
BUCKET_QUERY = config["athena"]["bucket_queries"]

---
# Part B Questions

## Q1: ¿De qué año a qué año tienen datos de esa categoría?

In [8]:
query = """
    SELECT 
        EXTRACT(YEAR FROM created_at) AS year,
        count(1) as count
    FROM
        profeco_db.profeco
    GROUP BY
        1
    ORDER BY
        1
"""

# get df
df = wr.athena.read_sql_query(
    sql=query,
    database=DATABASE_NAME,
    ctas_approach=False,
    boto3_session=session
)
df

   year    count
0  2018  3657969
1  2019  2887105
2  2020  2571915
3  2021  2937404
4  2022  3177815
5  2023  3192617
6  2024   798628

In [ ]:
## Q2: